<div [ngClass]="isDirectView ? 'container' : ''">
  <form [formGroup]="answersForm" *ngIf="poll">
    <ng-container formArrayName="answers">
      <nb-card style="padding: 10px;" *ngIf="questions && questions.length > 0">
        <nb-card-header>
          <h5>{{poll.title}}</h5>
        </nb-card-header>
        <nb-card-body>
          <ng-container *ngFor="let q of questions; let i = index;">
            <div class="row">
              <div class="col-sm-12">
                <p>{{q.content}} {{q.required ? '' : '(optional)'}}</p>
              </div>
            </div>
            <div class="row">
              <div class="col-sm-12">
                <ng-container formGroupName="{{i}}">
                  <input nbInput
                         *ngIf="q.type === 'TI'"
                         fullWidth
                         fieldSize="small"
                         [status]="answersArray.controls[i].dirty ? (answersArray.controls[i].invalid  ? 'danger' : 'basic') : 'basic'"
                         type="text"
                         id="ti_{{i}}"
                         formControlName="answer">
                </ng-container>

                <ng-container formGroupName="{{i}}">
                  <input nbInput
                         *ngIf="q.type === 'NI'"
                         fullWidth
                         fieldSize="small"
                         [status]="answersArray.controls[i].dirty ? (answersArray.controls[i].invalid  ? 'danger' : 'basic') : 'basic'"
                         type="number"
                         id="ni_{{i}}"
                         formControlName="answer">
                </ng-container>

                <ng-container formGroupName="{{i}}">
                  <nb-radio-group *ngIf="q.type === 'SC'"
                                  id="sc_{{i}}"
                                  name="sc_{{i}}"
                                  formControlName="answer">
                    <nb-radio
                      *ngFor="let choice of q.choices.split(';')"
                      [value]="choice">
                      {{choice}}
                    </nb-radio>
                  </nb-radio-group>
                </ng-container>

                <ng-container *ngIf="q.type === 'MC'" formGroupName="{{i}}">
                  <ng-container formArrayName="mcAnswers">
                    <div class="row" *ngFor="let choice of q.choices.split(';'); let j = index">
                      <div class="col-sm-12" style="margin: 4px 0">
                        <nb-checkbox status="basic" formControlName="{{j}}" [checked]="choice" (change)="onCheckChange($event, i)">{{choice}}</nb-checkbox>
                      </div>
                    </div>
                  </ng-container>
                </ng-container>

                <ng-container formGroupName="{{i}}">
                  <nb-select *ngIf="q.type === 'DC'"
                             id="dc_{{i}}"
                             placeholder="Select option"
                             formControlName="answer">
                    <nb-option *ngFor="let choice of q.choices.split(';')" value="{{choice}}">{{choice}}</nb-option>
                  </nb-select>
                </ng-container>
                <ng-container *ngIf="answersArray.controls[i].invalid && answersArray.controls[i].touched">
                  <p class="question-input-error-message" *ngIf="answersArray.controls[i].errors?.required">
                    This field is required!
                  </p>
                </ng-container>
              </div>
            </div>
          </ng-container>

        </nb-card-body>
        <nb-card-footer>
          <button nbButton status="primary" *ngIf="(isAuthenticated && !isAlreadySubmittedByUser) || (!isAuthenticated && !poll.premium)" (click)="submitPollAnswers()" [disabled]="answersForm.invalid">Submit</button>
          <button nbButton status="primary" *ngIf="poll.premium && !isAuthenticated" [routerLink]="['/auth/login']">Log in to answer</button>
          <p class="already-submitted-label" *ngIf="isAuthenticated && isAlreadySubmittedByUser">
            You submitted answers for this poll!
          </p>
        </nb-card-footer>
      </nb-card>
    </ng-container>
  </form>
</div>
