<div [ngClass]="isDirectView ? 'container' : ''">
  <form [formGroup]="answersForm" *ngIf="poll">
    <ng-container formArrayName="answers">
      <nb-card style="padding: 10px;" *ngIf="questions && questions.length > 0">
        <nb-card-header>
          <h5>{{poll.title}}</h5>
        </nb-card-header>
        <nb-card-body>
          <ng-container *ngFor="let q of questions; let i = index;">
            <div class="row">
              <div class="col-sm-12">
                <p>{{q.content}}</p>
              </div>
            </div>
            <div class="row">
              <div class="col-sm-12">
                <input nbInput fullWidth fieldSize="small" *ngIf="q.type === 'TI'" type="text" formControlName="{{i}}">
                <input nbInput fullWidth fieldSize="small" *ngIf="q.type === 'NI'" type="number" formControlName="{{i}}">
                <nb-radio-group *ngIf="q.type === 'SC'" formControlName="{{i}}">
                  <nb-radio
                    *ngFor="let choice of q.choices.split(';')"
                    [value]="choice">
                    {{choice}}
                  </nb-radio>
                </nb-radio-group>
                <!--ng-container *ngIf="q.type === 'MC'">
                  <div class="row" *ngFor="let choice of q.choices.split(';'); let j = index">
                    <div class="col-sm-12" style="margin: 4px 0">
                      // TODO popraviti !!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!
                      <nb-checkbox status="basic" formControlName="{{i}}">{{choice}}</nb-checkbox>
                    </div>
                  </div>
                </ng-container-->
                <nb-select placeholder="Select option" formControlName="{{i}}" *ngIf="q.type === 'DC'">
                  <nb-option *ngFor="let choice of q.choices.split(';')" value="{{choice}}">{{choice}}</nb-option>
                </nb-select>
              </div>
            </div>
          </ng-container>

        </nb-card-body>
        <nb-card-footer>
          <button nbButton status="primary" *ngIf="isAuthenticated || (!isAuthenticated && !poll.premium)" (click)="submitPollAnswers()" [disabled]="answersForm.invalid">Submit</button>
          <button nbButton status="primary" *ngIf="poll.premium && !isAuthenticated" [routerLink]="['/auth/login']">Log in to answer</button>
        </nb-card-footer>
      </nb-card>
    </ng-container>
  </form>
</div>
